<div class="c-container">
    <div class="contacts pattern-line">
        <div>
            <h2 class="contacts__title">Контактні дані</h2>

            <ul class="contacts-list">
                <li>
                    <div class="contacts-list__heading">
                        <div class="contacts-list__icon">
                            <img src="assets/images/system/icon/map-icon.svg" alt="icon">
                        </div>
                        <p class="contacts-list__title">Адреса</p>
                    </div>

                    <a href="https://goo.gl/maps/r82dw8Tu2CdqpCtg8"
                       target="_blank" class="contacts-list__desc">
                        Україна, Київ
                        03056, вул.Польова, 24
                        
                    </a>
                </li>

                <li>
                    <div class="contacts-list__heading">
                        <div class="contacts-list__icon">
                            <img src="assets/images/system/icon/time-icon.svg" alt="icon">
                        </div>
                        <p class="contacts-list__title">Часи роботи</p>
                    </div>

                    <p class="contacts-list__desc">
                        Понеділок – п'ятниця
                        <br>
                        9:00–18:00
                    </p>
                </li>

                <li>
                    <div class="contacts-list__heading">
                        <div class="contacts-list__icon">
                            <img src="assets/images/system/icon/phone-icon.svg" alt="icon">
                        </div>
                        <p class="contacts-list__title">Телефон</p>
                    </div>

                    <a href="tel:380914819782" class="contacts-list__desc">
                        +38 091 481 97 82
                    </a>
                </li>
            </ul>
        </div>

        <div class="contacts__map">
            <div class="contacts__map-blur">
                <img src="assets/images/system/any/patterns/pattern-blur-2.svg" alt="blur">
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.842762061293!2d30.44894591606008!3d50.444029395708135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc2099852e89%3A0x1c866dd17d7066a0!2z0YPQuy4g0J_QvtC70LXQstCw0Y8sIDI0LCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1663681462036!5m2!1sru!2sua"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>