<div class="c-container">
    <div class="footer__inner">
        <div class="footer__info-block">
            <div class="footer__logo">
                <img src="assets/images/system/icon/Logo.svg" alt="logo">
            </div>

            <p class="footer__legal">
            ТОВАРИСТВО З ДОДАТКОВОЮ ВІДПОВІДАЛЬНІСТЮ<br>«СТРАХОВА КОМПАНІЯ «АСТРАМЕД»
<br>
                код за ЄДРПОУ: 42801671
            </p>

            <ul class="footer__nav">
                <li class="footer__nav-item">
                    <p class="footer__nav-title">Адреса</p>
                    <a class="footer__nav-desc"
                    
                       href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.8429454759485!2d30.448945915731095!3d50.44402597947443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc2099852e89%3A0x1c866dd17d7066a0!2z0LLRg9C70LjRhtGPINCf0L7Qu9GM0L7QstCwLCAyNCwg0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1662707057148!5m2!1suk!2sua"
                       target="_blank">
                        Україна, Київ <br>
                        03056, вул.Польова,24 
                      
                    </a>
                </li>

                <li class="footer__nav-item">
                    <p class="footer__nav-title">Часи роботи</p>
                    <p class="footer__nav-desc">
                        Понеділок – п'ятниця <br>
                        9:00–18:00
                    </p>
                </li>

                <li class="footer__nav-item">
                    <p class="footer__nav-title">Телефон</p>
                    <a class="footer__nav-desc" href="tel:380914819782" target="_blank">
                        +38 091 481 97 82
                    </a>
                </li>
                
            </ul>
        </div>

        <div class="footer__signature">
            <p>Всі права захищені // 2022</p>
        </div>
    </div>
</div>
